p{
	font-family: arial;
	margin-left: 120px;
	margin-right: 120px ;
}
body{
	margin: 0px;
	padding: 0px;
}
#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#divt{
   background-color: #2c3e50; 
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
#li1 {
    position: relative;
    color: #233140;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* AF- bordes redondeados */

}
#menu{
  display: flex;
    align-items: center;
}
#divt{
  height: 30px;

}
#al{
display: flex;
padding: 5px 10px;
height: 10px;
margin-top: -10px;
}
#al:hover{
 background-color: #34495e; 
 transition: background-color 0.3s ease-in-out;
}
#li1, #lis{
  font-family: arial;
  font-size: 18px;
}
#li1:hover #submenu {
    display: block;
}
#lis, #li1{
  padding: 8px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px; /* AF- bordes redondeados */
}
#lis:hover{
  background-color: #34495e;
}
#li1:hover #submenu {
    display: block;
    background-color:#233140
}
#li1:hover{
  border-radius: 10px;
  background-color: #34495e;
}
#submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2c3e50; /* Cambi%l color de fondo */
    padding: 10px;
    border-radius: 5px; /* AF- bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
    #al {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#divt{
   background-color: #2c3e50; /* Cambié el color de fondo */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
#li1 {
    position: relative;
    color: #233140;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Añadí bordes redondeados */

}
#menu{
  display: flex;
    align-items: center;
}
#divt{
  height: 30px;

}

#al:hover{
 background-color: #34495e; 
 transition: background-color 0.3s ease-in-out;
}
#li1, #lis{
  font-family: arial;
  font-size: 18px;
}
#li1:hover #submenu {
    display: block;
}
#lis, #li1{
  padding: 8px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px; /* Añadí bordes redondeados */
}
#lis:hover{
  background-color: #34495e;
}
#li1:hover #submenu {
    display: block;
    background-color:#233140
}
#li1:hover{
  border-radius: 10px;
  background-color: #34495e;
}
#submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2c3e50; /* Cambié el color de fondo */
    padding: 10px;
    border-radius: 5px; /* Añadí bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
a {
      display: block;
      color: white;
      text-decoration: none;
    }
h1{
	color:#2c3e50 ;
	text-shadow: 1px 1px 0.8px rgba(0, 0, 0, 0.5);
	font-family: arial;
}
h2{
	color:#2c3e50 ;
	text-shadow: 1px 1px 0.8px rgba(0, 0, 0, 0.5);
	font-family: arial;
}
#imgv{
	width: 300px;
	border-radius: 10px;

	
}
#h2j{
	margin-top: 50px;
}
img{

}
#imgv:hover{
  transform: scale(1.07); 
      transition: transform 0.4s ease;
}
